<template name="marketProfile">
  <div class="row market-profile">
    <!-- <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a> -->
    <div class="wrapper">
      <img src="/images/fama.png" alt="" width="100%"/>
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <p>{{address}}</p>
    </div>
  </div>

  <div class="row market-info">
    <!-- <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a> -->
    <div class="wrapper">
      <p><i class="fa fa-check"></i> {{ccard}}</p>
      <p><i class="fa fa-check"></i> {{ebtcard}}</p>
      <p><i class="fa fa-phone"></i> {{phone}}</p>
      <p><i class="fa fa-envelope-o"></i> {{email}}</p>
      <p><i class="fa fa-link"></i> {{url}}</p>
    </div>
  </div>
</template>
