.grid-block, .main, .market, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #eee;
  color: #666666; }

#main {
  position: relative;
  margin-top: 50px;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px;
  background-color: #4CAF50;
  border-bottom: 5px solid #388E3C;}
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }
  .navbar-inverse .navbar-brand {
    color: white;}
  .btn-primary {
    color: #FFF;
    background-color: #FF3A7F;
    border-color: #FF3A7F;}
    .btn-primary:hover {
      color: #FFF;
      background-color: #FF3A7F;
      border-color: #FF3A7F;
      -webkit-box-shadow: 0px 10px 28px 0px rgba(148,148,148,1);
-moz-box-shadow: 0px 10px 28px 0px rgba(148,148,148,1);
box-shadow: 0px 10px 28px 0px rgba(148,148,148,1);}
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
      background-color: #388E3C;}
    .navbar-inverse .navbar-nav > li > a {
      color: white;}


#spinner {
  height: 300px; }

.market {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1;
  width: 185px;
  float: left;
  margin: 10px;}
  .market:before, .market:after {
    content: "";
    display: table; }
  .market:after {
    clear: both; }
  .market.invisible {
    opacity: 0; }
  .market.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .market.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .market img {
    width: 100%;
  }
  .market .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .market .market-content {
    float: left; }
    .market .market-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .market .market-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .market .market-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .market .market-content p {
      margin: 0; }
  .market .discuss {
    display: block;
    float: right;
    margin-top: 7px; }
  .market-profile {
    background-color: #F5F5F5;
  }
  .market-profile .wrapper {
    padding-top: 50px;
    width: 33%;
    margin: 0 auto;
    text-align: center;}
  .market-profile .wrapper img{
    width: 50%;
    margin: 0 auto;
    text-align: center;}
  .market-info {
    background-color: white;}
  .market-info .wrapper {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    padding: 20px}

.farmers {
  background-color: tomato;
}
  .farmers .wrapper{
    width: 50%;
    margin: 0 auto;
    text-align: center;}
  .farmers .hovercard {
    /*background-color: orange;*/
    width: 100px;
    position: relative;
    float: left;
    margin: 12px;}
  .farmers .hovercard .useravatar img{
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);}


/*.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }*/

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.markets .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

/*map style code*/
.leaflet-animated-div-icon {
  border-radius: 50%;
  border: none;
  opacity: .2;
  background: black;
}

.leaflet-div-icon {
    border-radius: 50%;
    border: none;
    line-height: 30px;
    font-family: verdana;
    text-align: center;
    color: white;
    opacity: .8;
    vertical-align:middle;
}

.leaflet-div-icon.public {
    background: #49AFCD;
}

.leaflet-div-icon.private {
    background: #DA4F49;
}


.map circle.callout {
    stroke-width: 5px;
    stroke-dasharray: 9, 5;
    stroke-opacity: .8;
    fill: none;
    stroke: red;
}

.attribution {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 3px;
    padding-bottom: 0;
}
